<h1>Send Message</h1>
<form #sendform = "ngForm" (ngSubmit)="onSend(sendform.value)" >
    <div class="form-group">
        <label>Sender Name</label>
        <input type="text" class="form-control" required ngModel name="sender">
    </div>

    <!-- <div class="form-group">
        <label>Route</label>
        <input type="text" class="form-control" required ngModel name="route">
    </div> -->

    <div class="form-group">
        <label for="mobilenum">Mobile No.</label>
        <input type="text" class="form-control" required ngModel name="mobiles" id="mobilenum">
    </div>

    <!-- <div class="form-group">
        <label for="auth">Authkey</label>
        <input type="text" class="form-control" required ngModel name="authkey" id="auth">
    </div> -->
    
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" required ngModel name="country" id="country">
    </div>

    <div class="form-group">
        <label for="msg">Message</label>
        <input type="text" class="form-control" required ngModel name="message" id="msg">
    </div>

    <div class="form-group">
        <button class="btn btn-success">Send</button>
    </div>
</form>
