<div class="row justify-content-center" style="margin-top: 5px;">
  <div class="col-md-3">
    <button class="btn btn-primary" routerLink="addcontact">Add contact</button>
  </div>
 
  <div class="col-md-3">
    <button class="btn btn-primary" routerLink = "message">Send Message</button>
  </div>
 
  <div class="col-md-3">
    <button class="btn btn-primary" routerLink = "mail">Send Mail</button>
  </div>

  <div class="col-md-3">
    <button class="btn btn-primary" routerLink = "group">Create group</button>
  </div>
</div>

<div style="border: 5px solid black">
<router-outlet></router-outlet>
</div>